
<div style="display:flex; height:320px;">
    <Card>
        <div class="password-bg">
            <div class="password-grid" style="grid-template-columns: repeat(@RowLength, 1fr);" >
                <TemplatedList Items="@Solution">
                    <div>
                        <svg viewBox="0 0 40 60" class="password-container" >
                            <rect x="0px" y="0px" class="password-cell" />
                            <text x="50%" y="50%" class="password-text" dominant-baseline="middle" text-anchor="middle">@context</text>
                        </svg>
                    </div>
                </TemplatedList>
            </div>
        </div>
    </Card>
</div>