
<div style="position: absolute; left:50%;">
    <Button class="btn-round btn-more" onclick="document.getElementById('info-anchor').scrollIntoView({behavior:'smooth'})" >
        <Blazorise.Icon id="info-anchor" Name="MaterialIcons.ExpandMore"/>
    </Button>
</div>

<div class="info-panel">
    <article>

        <div style="padding:0% 8% 0% 8%; max-width:800px; margin:auto;">
            <h3>So what is a Genetic Algorithm?</h3>
            <p>A <a href="https://towardsdatascience.com/introduction-to-genetic-algorithms-including-example-code-e396e98d8bf3">genetic algorithm</a>
            is a search heuristic that is inspired by Charles Darwin's theory of natural evolution.
            This algorithm reflects the process of natural selection where the fittest individuals
            are selected for reproduction in order to produce offspring of the next generation.</p>

            <p>Genetic algorithms are commonly used to generate high-quality solutions to
            optimization and search problems by relying on biologically inspired operators
            such as <a href="https://en.wikipedia.org/wiki/Mutation_(genetic_algorithm)">mutation</a>,
            <a href="https://en.wikipedia.org/wiki/Crossover_(genetic_algorithm)">crossover</a> and
            <a href="https://en.wikipedia.org/wiki/Selection_(genetic_algorithm)">selection</a>.</p>

            <h3>That's incredimazing! But what's the point in this?</h3>
            <p>Recently I've been learning Blazor for web development so wanted to put my knowledge into action.
               This site is inspired by the very cool
               <a href="https://playground.tensorflow.org/">Tensorflow Playground</a>.</p>
            <p>I've had a long-term interest in Artificial Intelligence and Machine Learning
               ever since my final year University project, <i>"Designing Ski Resorts using Genetic
               Algorithms"</i>.</p>

            <h3>Credits</h3>
            <p>This website was created by Lee Halsey using
            <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a> WebAssembly
                with the awesome <a href="https://blazorise.com/">Blazorise</a> component library.</p>
            <p>The Genetic Algorithm library used is
               <a href="https://github.com/giacomelli/GeneticSharp">GeneticSharp</a>
               by Diego Giacomelli - great work!</p>               
            <p>Icons were sourced from <a href="https://www.flaticon.com/">flaticon</a> from authors
               <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
               <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> &
               <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>.
               Thanks!
           </p>

         </div>

    </article>
</div>
