
<footer>
    <div style="display:flex; justify-content:center;">

        <a href="https://github.com/giacomelli/GeneticSharp" style="margin:0 20px;" >
            <img Display src="/images/footer/geneticsharp-logo.png" alt="GeneticSharp" class="d-lg-inline d-none" style="height:40px; opacity:0.7;" />
            <img Display src="/images/footer/geneticsharp-logo-small.png" alt="GeneticSharp" class="d-lg-none d-inline" style="height:40px; opacity:0.7;" />
        </a>

        <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" style="margin:0 20px;" >
            <img src="/images/footer/blazor-logo.png" alt="Blazor" class="d-lg-inline d-none" style="height:40px; opacity:0.7;" />
            <img src="/images/footer/blazor-logo-small.png" alt="Blazor" class="d-lg-none d-inline" style="height:40px; opacity:0.7;" />
        </a>

        <a href="https://github.com/lhalsey/BlazorAI" style="margin:0 20px;" >
            <img src="/images/footer/github-logo.png" alt="GitHub" class="d-lg-inline d-none" style="height:36px; opacity:0.7;" />
            <img src="/images/footer/github-logo-small.png" alt="GitHub" class="d-lg-none d-inline" style="height:36px; opacity:0.7;" />
        </a>
    </div>

    <div style="margin:25px auto 0 auto; display:table;">
        <div style="display: flex">
            <p style="margin-right:10px;">© 2020 Lee Halsey</p>
            <p style="margin-right:10px;">|</p>
            <p>v1.0.1</p>
        </div>
    </div>
</footer>