
<div class="d-sm-block d-none">
    <h2>Data</h2>
    <p>Which problem do you want to solve?</p>
</div>

<div class="nav-panel">
    <Tooltip Text="Travelling Salesman" Margin="Margin.Is1"  >
        <NavLink href="/travellingsalesman" >
            <Button class="@buttonClasses[0]" >
                <img src="images/nav/taxi.svg" alt="Taxi" class="nav-button-img" />
            </Button>
        </NavLink>  
    </Tooltip>

    <Tooltip Text="Five Houses" Margin="Margin.Is1">
         <NavLink href="/fivehouses">
            <Button class="@buttonClasses[1]" >
                <img src="images/nav/house.svg" alt="House" class="nav-button-img"/>
            </Button>
         </NavLink>    
    </Tooltip>

    <Tooltip Text="Eight Queens" Margin="Margin.Is1">
        <NavLink href="/eightqueens">
            <Button class="@buttonClasses[2]" >
                <img src="images/nav/queen.svg" alt="Queen" class="nav-button-img"/>
            </Button>
        </NavLink>    
    </Tooltip>

    <Tooltip Text="Password" Margin="Margin.Is1">
        <NavLink href="/password">
            <Button class="@buttonClasses[3]" >
                <img src="images/nav/password.svg" alt="Password" class="nav-button-img"/>
            </Button>
        </NavLink>    
    </Tooltip>

</div>
