
<div style="margin-bottom: 10px;" >
    <label style="display:block;">@Label: @Value
        <input type="range" style="width:80%;" min="@Min" max="@Max" @bind="@Value" @bind:event="oninput"/>
    </label>
</div>